<div class="card">
  <img class="card-img-top" src="<%=recipe.image_link%>" alt="<%=recipe.title%>">
  <div class="card-block">
    <h4 class="card-title"><%=recipe.title%></h4>
    <p class="card-text"><%=recipe.description%></p>
  </div>
  <div class="card-block">
    <a href="recipe#<%=recipe.id%>" class="card-link">Check it out!</a>
  </div>
</div>
