<br>
<div class="panel panel-primary">
<ul>

<li><%= @recipe.description %>
<li><%= @recipe.prep_time %>
<li><%= @recipe.cook_time %>
<li><%= @recipe.difficulty %>
<li><%= @recipe.image_link %>
</ul>
</div>