<%= bootstrap_form_for @user do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">

    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
  <%= f.text_field :username %>
</p>
<p>
  <%= f.text_field :email %>
</p>
<p>

  <%= f.password_field :password %>
</p>
  <%= f.submit %>

<% end %>
