<div class="hi">

<div class="user-image-container well well-sm">
<div class='user-header'>
  <h1><%= @user.username %></h1>
</div>
  <% if @user.image_link == nil && @user == current_user %>

    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.label :image_link, class:"col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= f.text_field :image_link, class:"form-control" %>
      </div>
      <%= f.submit class:"btn btn-primary" %>
    <% end %>
  <% end %>
  <img src= '<%=@user.image_link %>' class="profile-image">
</div>

<div class="bio-container panel panel-default">
  <p class=" panel-body bio-body bio-text">
    <%=@user.bio %>
  </p>
  <% if @user == current_user %>
    <%= form_for @user, html: {class: "panel-body bio-body bio-form"} do |f| %>
      <%= f.label :bio %>
      <%= f.text_area :bio, class:" form-control bio-area" %>
      <%= f.submit 'submit', class:"btn btn-primary" %>


    <% end %>

    <div class="panel-footer bio-footer">
      <a href="" class="btn btn-primary btn-xs edit-btn">Edit Bio</a>
    </div>

  <%end%>
</div>

<div id= "user-recipes">
  <% @user.recipes.each do |recipe| %>
    <%= render partial: "recipes/card", :locals => {:recipe => recipe}%>
  <% end %>
  <br><br>
</div>
</div>